.site-branding--bg-dbc {
  background: rgb(13, 28, 59);
}

.site-branding--bg-dbc .site-branding__text {
  color: #fff;
}

#block-dropdownlanguage {
}

#block-socialmedialinks {
  display: none;
}

#block-socialmedialinks_2 {
  display: flex;
}

@media (min-width: 75rem) {
  #block-socialmedialinks {
    display: flex;
  }
  #block-socialmedialinks_2 {
    display: none;
  }
  .rotate #block-socialmedialinks a span {
    transform: rotate(90deg);
  }
}
